@import "~jsoneditor/dist/jsoneditor.min.css";
pre:hover,
pre:focus {
  width: min-content;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
::ng-deep .jsoneditor {
  height: 697px;
  border: 5px medium;
  border-radius: 5px;
  border-color: #282828;
  background: #282828;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_scroller .ace_content {
  background: #282828;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_scroller .ace_content .ace_marker-layer .ace_active-line {
  background: #282828;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_scroller .ace_content .ace_text-layer {
  color: white;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_gutter {
  background: #282828;
  color: white;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_gutter-active-line {
  background: #282828;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_scroller .ace_content .ace_text-layer .ace_line_group .ace_line .ace_variable {
  color: greenyellow;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_scroller .ace_content .ace_text-layer .ace_line_group .ace_line .ace_numeric {
  color: #6b5b95;
}

::ng-deep .jsoneditor .jsoneditor-outer .ace_editor .ace_scroller .ace_content .ace_text-layer .ace_line_group .ace_line .ace_string {
  color: #ffef96;
}

::ng-deep .ace-jsoneditor .ace_cursor {
  border-left: 1px solid white;
}

::ng-deep #result .ace_text-input {
  user-select: none;          
}

.result {
  border: 5px medium;
  border-style: solid;
  border-radius: 5px;
  border-color: #282828;
  background: #282828;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
